<p>Bonjour <%= lastName %> <%= firstName %>,</p>
<p>
  Votre binôme a accepté votre demande de session. Veuillez-vous connecter à la
  plateforme pour démarrer la session.
</p>
<p>Cordialement</p>
<p>L’équipe Mentoring MeM</p>
<p>Veuillez ne pas répondre à ce message</p>

