<p>Bonjour <%= firstName %> <%= lastName %>,</p>
<p>Félicitation votre compte a été activé avec succès.</p>
<p>Vous pouvez dès maintenants profiter de toutes les fonctionnalités disponible sur la plateforme M2M.</p>
<p>Cordialement</p>
<p>L'équipe M2M</p>