<p>Bonjour <%= firstName %> <%= lastName %>,</p>
<p>Félicitation votre compte a été créer avec succès sur notre plateforme M2M.</p>
<p>Un de nos équipe va procéder à l’activation de votre compte dans les plus brefs délais.</p>
<p>Un email de confirmation sera envoyer une fois votre compte est activé.</p>
<p>L'équipe M2M</p>