<h1>Votre compte à été créé.</h1>
<p>Félicitations pour la création de votre compte sur la platforme M2M.</p>
<p>Un administrateur va activer votre compte dans les plus brefs délais.</p>
<p>Vous serez notfié par émail une fois votre compte est activé.</p>
<p>L'équipe M2M</p>