<p>Bonjour <%= lastName %> <%= firstName %>,</p>
<p>Votre binôme vous a envoyé une demande de session. Veuillez-vous connecter à la plateforme pour accepter ou refuser
    la demande.</p>
<p>Cordialement</p>
<p>L’équipe Mentoring MeM</p>
<p>Veuillez ne pas répondre à ce message</p>
