<p>Bonjour Admin,</p>
<p>Vous avez une nouvelle demande d’inscription de <%= lastName %> <%= firstName %>. Veuillez-vous connecter à votre
    espace pour traiter la
    demande.</p>
<p>Cordialement</p>
<p>L’équipe Mentoring MeM</p>
<p>Veuillez ne pas répondre à ce message</p>
