<p>Bonjour <%= lastName %> <%= firstName %>,</p>
<p>Votre binôme vous a envoyé un questionnaire. Veuillez-vous connecter à la plateforme pour consulter la teneur de celui-ci .
</p>
<p>Cordialement</p>
<p>L’équipe Mentoring MeM</p>
<p>Veuillez ne pas répondre à ce message</p>
