<p>Bonjour <%= lastName %> <%= firstName %>,</p>
<p>Félicitations! Vous êtes connecté à votre Mentor <%= fromFirstName %>
    <%= fromLastName %>. Vous pouvez dès maintenant vous connecter et échanger avec votre Mentor sur la
    plateforme Mentoring MeM.</p>
<p>Cordialement</p>
<p>L’équipe Mentoring MeM</p>
<p>Veuillez ne pas répondre à ce message</p>
