<p>Bonjour <%= firstName %> <%= lastName %>,</p>
<p>Félicitations! votre compte a été activé avec succès. Vous êtes connecté à votre Mentor <%= fromFirstName %>
    <%= fromLastName %>. Vous pouvez dès maintenant vous connecter et échanger avec votre Mentor au sein de la
    plateforme Mentoring MeM CGEM.</p>
<p>Cordialement</p>
<p>L’équipe Mentoring MeM by CGEM</p>
<p>Veuillez ne pas répondre à ce message</p>