<p>Bonjour <%= firstName %> <%= lastName %>,</p>
<%if (role === 'mentee') { %>
<p>Félicitations ! l’équipe de modération. Une fois celle-ci acceptée, vous recevrez un email de confirmation pour vous
    connecter à votre espace Mentee.</p>
<% } %>
<%if (role === 'mentor') { %>
<p>Félicitations ! Votre demande d’inscription au programme de Mentorat est prise en charge par l’équipe de modération.
    Une fois celle-ci acceptée, vous recevrez un email de confirmation pour vous connecter à votre espace Mentor.</p>
<% } %>
<p>Cordialement</p>
<p>L’équipe Mentoring MeM CGEM</p>
<p>Veuillez ne pas répondre à ce message</p>