<p>Bonjour <%= lastName %> <%= firstName %>,</p>
<p>Nous sommes au regret de vous informer que votre demande d’inscription a été refusée.</p>
<p>Vous pouvez contacter l’Administrateur de la plateforme pour connaître le motif de ce refus.</p>
<p>Cordialement</p>
<p>L’équipe Mentoring MeM</p>
<p>Veuillez ne pas répondre à ce message</p>
