<p>Bonjour <%= firstName %> <%= lastName %>,</p>
<p>Votre demande d’inscription a été refusée. Vous pouvez contacter l’Admin pour connaitre le motif de ce refus.</p>
<p>Cordialement</p>
<p>L’équipe Mentoring MeM CGEM</p>
<p>Veuillez ne pas répondre à ce message</p>