<p>Bonjour,</p>
<p>Suite à votre demande de changement de mot de passe, vous pouvez la faire via le lien suivant :<a
        href="<%- link -%>">lien de changement</a>.</p>
<p>Si cette demande ne vient pas de vous, ignorez cet e-mail. Votre mot de passe ne changera que lorsque vous cliquerez
    sur le lien ci-dessus et en créerez un nouveau.</p>
<p>L’équipe M2M</p>