<p>Bonjour <%= lastName %> <%= firstName %>,</p>
<p>Votre binôme a mis fin à votre relation de mentorat.</p>
<p>
  Veuillez-vous reconnecter à la plateform Mentoring MeM pour découvrir les fonctionnalités proposées.
</p>
<p>Cordialement</p>
<p>L’équipe Mentoring MeM</p>
<p>Veuillez ne pas répondre à ce message</p>

