<p>Bonjour Admin,</p>
<p>Vous avez une demande d’un utilisateur Mentor ou Mentee, pour mettre fin à une mission de mentorat.
</p>
<p>Veuillez-vous connecter à votre espace pour traiter la demande.</p>
<p>Cordialement</p>
<p>L’équipe Mentoring MeM by CGEM</p>
<p>Veuillez ne pas répondre à ce message</p>